/* Set up container */
#container {
	height: 450px;
	width: 450px;
	margin: 100px auto;
}

.grid {
	display:inline-block;
	background-color: #666;
	border: 1px solid red;
	margin: 2px 2px;
    overflow: auto;
}

button {
	margin: 10px auto;
	display:flex;
}

#button {
    display:flex
    text-align: center;
    clear:both;
}

.newRow {
    clear:both;
}
