/* Set up container */
#container {
	height: 250px;
	width: 250px;
	margin: 10px auto;
}

.box {
	height: 50px;
	width: 50px;
	float:right;
	background-color: #666;
	border: 1px solid red;
	margin: 2px 2px;
}

button {
	margin: 2px auto;
	display:flex;
}